@use "~easy-theme" as theme;
@import '../campsite-input.scss';

.ci-select {
    height: $size;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 0.1rem solid theme.Text('cs-background', .1);
    background: theme.Color('cs-background', 1);
    color: theme.Text('cs-background', 1);
    border-radius: $radius;
    width: 100%;
    transition: .15s ease;
    position: relative;
    text-align: left;

    &__prefix {
        padding: $spacing;
        opacity: .25;
        border-right: 0.1rem solid theme.Text('cs-background', .3);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        user-select: none;
    }

    &__label {
        padding: $spacing;
        font-size: $font-size;
        outline: none;
        margin: 0;
        height: 100%;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        border: none;
        background: transparent;
        color: inherit;
        box-sizing: border-box;
        white-space: nowrap;
        text-align: left;
        cursor: pointer;
    }

    &__icon {
        font-size: .9rem;
        padding: $spacing;
        padding-left: 0;
    }

    &__list {
        position: absolute;
        top: calc(100% + .25rem);
        left: -0.1rem;
        width: 100%;
        max-height: $size * 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.1rem solid theme.Color('cs-primary', 1);
        background: theme.Color('cs-background', 1);
        color: theme.Text('cs-background', 1);
        border-radius: $radius;
        transition: .15s ease;
        z-index: 15;
        overflow: hidden;
        overflow-y: auto;

        >span {
            padding: $spacing;
            outline: none;
            margin: 0;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            border: none;
            background: transparent;
            color: inherit;
            box-sizing: border-box;
            white-space: nowrap;
            height: $size;
            flex-shrink: 0;
            text-align: left;
            border-bottom: 0.1rem solid theme.Text('cs-background', .1);
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            >input {
                background: transparent;
                outline: none;
                border: none;
                color: inherit;
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;

                &:focus~span {
                    color: theme.Color('cs-primary', 1);
                }
            }

            >span {
                font-size: 1rem;
                padding-right: .5rem;
            }
        }

        &__item {
            padding: $spacing;
            outline: none;
            margin: 0;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            border: none;
            background: transparent;
            color: inherit;
            box-sizing: border-box;
            white-space: nowrap;
            height: $size;
            flex-shrink: 0;
            text-align: left;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 0.1rem solid theme.Text('cs-background', .1);
            }

            &:hover,
            &:focus {
                background: theme.Color('cs-primary', .1);
            }

            &.active {
                background: theme.Color('cs-primary', .3);
                // color: theme.Color('cs-primary', 1);
            }
        }
    }

    &:hover {
        border: 0.1rem solid theme.Color('cs-primary', .3);
    }

    &:focus-within {
        border: 0.1rem solid theme.Color('cs-primary');
    }

    &:not(:focus-within) {
        .ci-select__list {
            pointer-events: none;
            opacity: 0;
        }
    }

    &.disabled {
        border: 0.1rem solid theme.Text('cs-background', .1);
        background-color: theme.Text('cs-background', .1);
        color: theme.Text('cs-background', .8);
        cursor: not-allowed;

        .ci-select__label,
        .ci-select__list {
            pointer-events: none;
        }

        .ci-select__icon {
            opacity: .25;
        }
    }
}