@use "~easy-theme"as theme;

$radius: .25rem;
$transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);

@at-root.c-grid__header :host {
    display: flex;
    position: relative;
    border-bottom: 1px solid theme.Text('cs-background', .1);
    border-radius: $radius $radius 0 0;
}

@at-root.c-grid__content :host {
    display: flex;
    position: relative;
    transition: $transition;

    &:last-child {
        border-radius: 0 0 $radius $radius;
    }

    &:not(:last-child) {
        border-bottom: 1px solid theme.Text('cs-background', .1);
    }

    &:hover {
        filter: drop-shadow(0 0rem .2rem rgba(0, 0, 0, 0.05));
        z-index: 1;
    }
}