@use "~easy-theme"as theme;
@import '../core/theme/campsite-theme.scss';

$nav-width: 15rem;
$nav-width-space: 4rem;
$radius: .75rem;

$transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);

.p-admin {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: theme.Color('cs-background-alt');
    color: theme.Text('cs-background-alt');

    &__menu {
        padding: .5rem;
        position: relative;

        &__blip {
            position: absolute;
            height: 1.25rem;
            width: 1.25rem;
            font-size: .8rem;
            border-radius: 50%;
            bottom: 1.6rem;
            right: 1.6rem;
            background: theme.Text('cs-primary');
            color: theme.Color('cs-primary');
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s ease;
            transform: scale(1) rotateZ(180deg);

            &:hover {
                cursor: pointer;
                transform: scale(1.1) rotateZ(180deg);
            }

            &.closed {
                transform: rotateZ(0deg);

                &:hover {
                    transform: scale(1.1) rotateZ(0deg);
                }
            }
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-left: .25rem;
        margin-right: .75rem;
        z-index: 1;
        margin-top: 0.75rem;

        &__idle {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            user-select: none;

            span {
                text-transform: uppercase;
                font-weight: 600;
                opacity: 0.3;
                font-size: 0.8rem;
            }
        }
    }
}