@use "~easy-theme" as theme;
@import '../core/theme/campsite-theme.scss';

$nav-width: 15rem;
$nav-width-space: 4rem;
$radius: .75rem;

.p-admin {
    display: flex;
    height: 100vh;
    overflow: hidden;


    &__menu {}

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        margin-left: -$radius;
        z-index: 1;
        background: theme.Color('cs-background');
        color: theme.Text('cs-background');
        border-radius: $radius 0 0 $radius;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
        position: relative;
        transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);

        &.closed {
            margin-left: -$nav-width + $nav-width-space;
        }

        &__idle {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            user-select: none;

            span {
                text-transform: uppercase;
                font-weight: 600;
                opacity: 0.3;
                font-size: 0.8rem;
            }
        }
    }
}