@mixin IsBrowser {
    :host-context(.isBrowser) & {
        @content;
    }
}

@mixin IsReady {
    :host-context(.isBrowser) & {
        @content;
    }
}

@mixin PlayOnce {
    & {
        @content;
        animation-play-state: paused;
        animation-fill-mode: backwards;
    }

    @include IsReady {
        animation-play-state: running;
    }
}

@mixin Monospace {
    font-family: 'Courier Prime', monospace;
}