@use "~easy-theme"as theme;

$radius: .5rem;
$transition: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
$border-color: theme.Text('cs-background', .05);

.p-entries-actions {
    display: flex;
    margin: auto;
    margin-top: .5rem;
    width: 100%;
    justify-content: space-between;
}

.c-icon-button {
    background-color: theme.Color('cs-background');
    color: theme.Text('cs-background');
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .3rem;
    height: 2rem;
    width: 2rem;
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.05);
    transition: .1s ease;
    margin: .25rem;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &.primary {
        background-color: theme.Color('cs-primary');
        color: theme.Text('cs-primary');
    }

    &.outline,
    &:disabled {
        background-color: transparent;
        box-shadow: 0 0rem 0rem .1rem rgba(0, 0, 0, 0.05) inset;
        color: theme.Text('cs-background', .7);
        transition: .2s ease;

        &:hover {
            background-color: theme.Color('cs-background');
            box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.05);
            color: theme.Text('cs-background', 1);
            transform: scale(1);
            animation: popIn .5s backwards;
        }
    }

    &:disabled {
        pointer-events: none;
        opacity: .6;
    }
}

@keyframes popIn {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.05);
    }

    10% {
        transform: scale(1);
    }
}

.c-route-item {
    select {
        text-transform: capitalize;
    }
}

input,
select {
    height: 2.25rem;
    box-sizing: border-box;
    padding: 0.3rem;
    border: 0.1rem solid theme.Text('cs-background', .1);
    background: theme.Color('cs-background', 1);
    color: theme.Text('cs-background', 1);
    border-radius: 0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;
    transition: .15s ease;

    &:hover {
        border: 0.1rem solid theme.Color('cs-primary', .3);
    }

    &:focus-within {
        border: 0.1rem solid theme.Color('cs-primary');
    }

    &:disabled {
        border: 0.1rem solid theme.Text('cs-background', .1) !important;
        background-color: theme.Text('cs-background', .1);
        color: theme.Text('cs-background', .8);
        cursor: not-allowed;
    }
}