<app-campsite-page-header></app-campsite-page-header>
<app-campsite-table>
    <app-campsite-table-row header>
        <app-campsite-table-col>Title</app-campsite-table-col>
        <app-campsite-table-col>Route</app-campsite-table-col>
        <app-campsite-table-col>Status</app-campsite-table-col>
        <app-campsite-table-col>Last Update</app-campsite-table-col>
    </app-campsite-table-row>

    <!-- Existing Routes -->
    <app-campsite-table-row *ngFor="let entry of entries; let i = index">
        <app-campsite-table-col>
            <app-ci-text [readonly]="true" look="transparent" [value]="entry.meta.title">
            </app-ci-text>
        </app-campsite-table-col>
        <app-campsite-table-col>
            <app-ci-text [disabled]="true" prefix="/" [value]="routeLinks[i].path">
            </app-ci-text>
        </app-campsite-table-col>
        <app-campsite-table-col class="c-route-item">
            <app-ci-select [disabled]="true" [options]="entryStatus" [(value)]="entry.meta.enabled">
            </app-ci-select>
        </app-campsite-table-col>
        <app-campsite-table-col>
            <app-ci-text [readonly]="true" look="transparent"
                [value]="entry.meta.date_last_updated | date: 'dd/MM/yy h:mm a'">
            </app-ci-text>

            <app-ci-icon-button value="edit" (action)="editEntry(entry)"></app-ci-icon-button>
            <app-ci-icon-button value="delete" *ngIf="routeLinks[i].type !== 'Single'" (action)="removeEntry(entry)">
            </app-ci-icon-button>
        </app-campsite-table-col>
    </app-campsite-table-row>

    <ng-container footer>
        <span class="p-routing-actions">
            <app-ci-icon-button value="add" (action)="importData()"></app-ci-icon-button>
            <app-ci-icon-button [disabled]="true" value="add" (action)="addEntry()"></app-ci-icon-button>
        </span>
    </ng-container>
</app-campsite-table>