.c-block {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-cs-background);
    color: var(--theme-cs-background-contrast);
    filter: drop-shadow(0 0.1rem 0.15rem rgba(0, 0, 0, 0.1));
    border-radius: 0.25rem;

    &__label {
        display: block;
        font-size: 0.7rem;
        font-weight: 500;
        padding: 0.5rem 0.6rem;
        padding-bottom: 0;
    }

    &__content {
        display: flex;
        gap: 1rem;
        padding: 0.4rem;
    }
}